@model Synergy.Lerman.Realm.Books.Book
@{
    ViewBag.Title = "Lerman books";
}

<div>
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h1>@Model.Name</h1>
        </div>
        <div class="panel-body">
            @foreach (var category in this.Model.GetCategoriesToLearn())
            {
                <div>
                    <a type="button" class="btn btn-default" style="margin-bottom:10px"
                       href="@Url.Action(nameof(HomeController.Learn), "Home", LearnInputModel.New(category))">
                        @category.Name <span class="badge">@category.GetDisplayWordsCount()</span> &raquo;
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="text-center">
    <a type="button" role="button" class="btn btn-primary btn-lg" style="margin-bottom:10px"
       href="@Url.Action(nameof(HomeController.Books), "Home")">
        &laquo; Books
    </a>
</div>