@model List<Synergy.Lerman.Realm.Books.Book>
@{
    ViewBag.Title = "Lerman";
}

<div class="jumbotron text-center">
    <h1>Lerman</h1>
    <p class="lead">Free online tool for learning english.</p>

    <div class="text-center">
        <div>
            <a type="button" role="button" class="btn btn-default btn-lg" style="margin-bottom:10px"
               href="@Url.Action(nameof(HomeController.Learn), "Home", LearnInputModel.Random())">
                Losowa lekcja &raquo;
            </a>
        </div>

        @foreach (var book in this.Model)
        {
            <a type="button" role="button" class="btn btn-primary btn-lg" style="margin-bottom:10px"
               href="@Url.Action(nameof(HomeController.Book), "Home", new { name = book.Name })">
                @book.Name <span class="badge">@book.GetDisplayCategoriesCount()</span>
                &raquo;
            </a>
        }
    </div>
</div>


@*<div class="panel-group text-center" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var book in this.Model)
            {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="btn btn-primary btn-lg"  data-toggle="collapse" data-parent="#accordion" href="#@book.Code" aria-expanded="true" aria-controls="#@book.Code">
                            @book.Name <span class="badge">@book.GetDisplayCategoriesCount()</span>
                        </a>
                    </h4>
                </div>
                <div id="@book.Code" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @foreach (var category in book.Categories)
                        {
                                <a type="button" class="btn btn-default" style="margin-bottom:10px"
                                   href="@Url.Action(nameof(HomeController.Learn), "Home", LearnInput.New(category))">
                                    @category.Name <span class="badge">@category.GetDisplayWordsCount()</span>
                                </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Learn</h2>
        <p>
            blah blah
        </p>

    </div>
    <div class="col-md-4">
        <h2>Examine yourself</h2>
        <p>even more blah blah</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@